image: debian:testing-slim

before_script:
  - export DEBIAN_FRONTEND="noninteractive"
  - apt-get update
  - apt-get install -y --no-install-recommends ca-certificates curl gcc git
    liballegro-acodec5-dev liballegro-audio5-dev liballegro-image5-dev
    liballegro-dialog5-dev liballegro-ttf5-dev liballegro-physfs5-dev
    liballegro-video5-dev libffi-dev libc-dev make pkg-config sbcl
  - curl -sO https://beta.quicklisp.org/quicklisp.lisp
  - echo "(quicklisp-quickstart:install) (ql-util:without-prompting (ql:add-to-init-file))" | sbcl --load quicklisp.lisp

pages:
  stage: deploy
  only:
    - master
  script:
    - ./doc.lisp -p
  artifacts:
    paths:
      - public
